@media screen and (max-width:1280px) {
    #subheader p {
        margin-left: 10px;
    }
    #subheader a {
        margin-right: 10px;
    }
    #search {
        margin-left: 20px;
    }
}

@media screen and (max-width:1024px) {
    #logo{
        margin-top:-5px;
    }
    #search {
        width: 500px;
        margin-left: 10px;
        margin-top: -10px;
    }
    .search-area {
        width: 500px;
    }
    #user-menu {
        width: 200px;
    }
    #user-menu li {
        width: 90px;
    }
}

@media screen and (max-width:768px) {
    #subheader a {
        font-size: 15px;
        margin-left: 15px;
    }
}

@media screen and (max-width:480px) {
    #subheader p {
        display: none;
    }
    #subheader {
        padding-bottom: 10px;
    }
}

@media screen and (max-width:350px) {
    #subheader a {
        font-size: 12px;
    }
}