#wrapper{font-family: tahoma;}

.container{
    width: 95%;
    margin: 0 auto;
}

#subheader{
    width: 100%;
    height: 30px;
    background:#84ceeb;
    color: black;
    margin-top:-15px;
}

#subheader p{
    float:left;
    margin-top:7px;
}

#subheader a{
    float:right;
    line-height: 30px;
    color:black;
    text-decoration: none;
    margin-left: 30px;
}

/* Logo styling */

#main-header{
    width: 100%;
    height: 100px;
    background:#65c2e6;
    float: left;
    margin-top: -15px;
}

#logo{
    width: 250px;
    margin-top: 10px;
    float: left;
    margin-left: 30px;
}

#ist{
    color:white;
    font-size: 45px;
    font-weight: bold;
    margin-left: 20px;
    font-family: cursive;
    
}

#iist{
    color:white;
    font-size: 35px;
    font-weight: bold;
    margin-left: -8px;
    font-family: cursive;
}

/* Searching area styling  */
#search{
    width: 650px;
    float: left;
    padding: 20px;
    margin-left: 50px;
}

.search-area{
    width: 650px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 5px;
    float: left;
    padding-left: 15px;
}
.search-btn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: node;
    color: white;
    background:#2097c5 ;
    margin-left: -100px;
}

/*  user menu styling  */
#user-menu{
    width: 300px;
    float: right;
    margin-top: 20px;
}

/* user menu list styling */
#user-menu li{
    float: left;
    width: 140px;
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-top: 12px;
    border-left: 1px solid black;
}

#user-menu li:hover{
    font-size: 30px;
    list-style: none;
    transition: all .5s ease;
}

#user-menu li a{
    color: white;
    text-decoration: none;
}

/* style for navigation bar */

#navigation{
    width: 100%;
    height: 35px;
    background:#65c2e6;
    float: left;
    box-shadow: 10px 14px 50px 2px  #50b9e2;    
}

nav{
    width: 1280px;
    margin: 0 auto;
}

nav a{
    margin-right: 50px;
    /* margin-left: 40px; */
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: black;
    transition: all .7s;
}



/*-------------- image slider ----------------- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  /* position: relative; */
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* position: relative; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* --------------------------------------------------------------------------------- */
/* --------------- Category boxes ------------------------ */

#heading-blocks{
    width: 100%;
    height: auto;
    float: left;
    color: #2097c5;
    font-size: 25px;
    /* margin-top: px; */
}

#heading-blocks h2{
    line-height: 35px;
    border-left: 20px solid #2097c5;
    padding-left : 10px;
}

/* ------------- category box design ---------------- */
.catbox{
    width: 250px;
    height: 250px;
    overflow: hidden;
    float: left;
    position: relative;
    margin: 0 17 30;
}
.catbox span{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: block;
    bottom: 30px;
    position:absolute;
    z-index: 999;
    text-align: center;
}
/* .catbox:hover span{
    color: #00a4e6;
} */
.catbox img{
    max-width: 100%;
    transition: all .5s ease;
}
.catbox:hover img{
    transform: scale(1.3,1.3);
    transition: all .5s ease;
}

/*----------------------- product box ----------------- */
.prod-box{
    width: 235px;
    height: 300px;
    overflow: hidden;
    margin: 0 25 35;
    float: left;
    position: relative;
}   
.prod-box img{
    max-width: 100%;
}
.prod-trans{
    background: rgba(0, 0, 0, 0.6);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .5s ease;
}
.prod-box:hover .prod-trans{
    opacity:1;
    transition: all .5s ease;
}
.prod-feature{
    text-align: center;
    margin-top: -150px;
    transition: all .5s ease;
}
.prod-feature input{
    border-radius: 10px;
    background: #84ceeb;
}
.prod-feature p{
    /* color:#2097c5; */
    color: white;
    font-family: verdana;
}
.prod-box:hover .prod-feature{
    margin-top: 150px;
    transition: all .5s ease;
}
.prod-feature input{
    width: 150px;
    height: 35px;
    font-size: 17px;
}


/* offer styling */
.offer{
    width: 400px;
    float: left;
    margin-right: 75px;
    padding-left: 10px;
}
.offer:last-child{
    margin-right: 0px;
}
.offer img{
    width: 100%;
}

/*--------------- footer--------------- */
#footer{
    width: 100%;
    height: 300px;
    background: white;
    float: left;
    margin-top: 20px;
}
.footer_sub{
    width: 100%;
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.footer_sub_1{
    width: 34%;
    float: left;
}
.footer_sub_1 ul li{
    list-style: none;
}
.footer_sub_1 ul li a{
    text-decoration: none;
    color: black;
}
.footer_sub_1 ul li a:hover{
    text-decoration: underline;
    color:#2097c5;
}

.footer_sub_2{
    width: 33%;
    float: left;
}
.footer_sub_2 ul li a{
    text-decoration: none;
    color: black;
}
.footer_sub_2 ul li{
    list-style: none;
}
.footer_sub_2 ul li a:hover{
    text-decoration: underline;
    color:#2097c5;
}

.footer_sub_3{
    width: 33%;
    float: left;
}
.footer_sub_3 ul li a{
    text-decoration: none;
    color: black;
}
.footer_sub_3 ul li{
    list-style: none;
}
.footer_sub_3 ul li a:hover{
    text-decoration: underline;
    color:#2097c5;
}